{% extends 'base.html' %} {% block title %}Blog{% endblock %} {% block content
%}
<h1 class="page-header">{{request.url_rule.endpoint}}</h1>
<div class="card">
  <h1>Why are we here?</h1>
  <time datetime="2025-12-1">December 1, 2025</time>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus metus,
    tincidunt sit amet tincidunt ac, mattis eget nisl. Cras sit amet congue
    dolor. Sed viverra arcu odio, eu scelerisque nulla facilisis ac. Maecenas
    placerat at tellus at dictum. Nulla facilisi. Duis suscipit nisl ut purus
    blandit hendrerit. Vestibulum sagittis, metus in ultrices dignissim, odio
    purus pulvinar diam, nec congue eros ligula gravida odio. Integer mi erat,
    sodales id sem id, feugiat ultricies diam. Integer imperdiet id massa eget
    lacinia. Ut a ante velit. Ut imperdiet dolor eget odio congue, quis dapibus
    enim tristique. Pellentesque id tincidunt eros. Donec venenatis maximus
    vulputate.
  </p>
</div>

<div class="card">
  <h1>¿Qué pasa?</h1>
  <time datetime="2025-11-30">November 30, 2025</time>
  <p>
    Nullam vestibulum tortor in purus cursus, vel pellentesque felis lacinia.
    Maecenas aliquam mi id elit pulvinar ornare. Ut rhoncus vehicula arcu
    interdum rutrum. Phasellus dictum elit elit. Quisque bibendum lobortis
    facilisis. Fusce sodales mollis turpis vel dignissim. Nulla facilisi. Ut
    quis tempus orci. Etiam in urna id quam ultrices bibendum bibendum maximus
    dolor. Integer feugiat sollicitudin nunc, non accumsan massa. Donec id
    pulvinar leo. Praesent velit arcu, rutrum id ex sed, mattis ullamcorper
    ante. Etiam dictum urna est, ut pulvinar diam sagittis in. Vivamus vehicula
    imperdiet pulvinar. Morbi a lacus mi.
  </p>
</div>

<div class="card">
  <h1>Who's Texting Me?</h1>
  <time datetime="2025-11-29">November 29, 2025</time>
  <p>
    Sed ornare, lectus vel condimentum lacinia, nibh justo sagittis eros, vel
    viverra ipsum massa a elit. Proin eu mi urna. Aliquam eget nisi vehicula,
    tempor turpis ac, mollis augue. Vivamus in finibus dolor. Fusce posuere quis
    massa at venenatis. Vestibulum tincidunt, leo ut egestas condimentum, leo mi
    tristique nunc, vel gravida est arcu vitae nibh. Nullam ac pellentesque leo.
    Aenean porttitor sodales justo eget bibendum. Mauris tincidunt vulputate
    metus. Etiam ullamcorper tincidunt consectetur.
  </p>
</div>

{% endblock %}
